body {
	margin: 0px;
	background:#EFEFEF;
}
#header {
	border-bottom:1px #393939 solid;
	background-image:url(../img/bg.png);
}
#sidebar {
	width:110px;
	float:left;
	background-image:url(../img/bg.png);
}
.container {
	width:50%;
	margin:auto auto;	
}
#logo {
	height:110px;
	background:url(../img/logo.png) no-repeat center;
	text-align:center;
	margin:auto auto;
}
#contentblock {
	min-height:30px;
	background: -webkit-gradient(linear, 0 0, 0 25%, from(#cecece), to(#efefef)); 
	background: -moz-linear-gradient(top,  #b9b9b9,  #efefef 25%);
	padding-top:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	font-weight:normal;
	/*text-shadow: 0px 1px 0px #CCC;*/
}
#box {
	background:#FFF;
	/*border:2px solid #CCC;*/
	-webkit-box-shadow: 0px 0px 10px #CCC;
	-moz-box-shadow: 0px 0px 10px #CCC;
	box-shadow: 0px 0px 10px #CCC;
}
h1 {
	font-family:Georgia, Times New Roman, "Times", serif;
	color:#526adb;
	font-size:22px;
	font-weight:normal;
	margin-top:0;
	margin-bottom:10px;
	/*border-bottom:1px solid #CCC;*/
	text-shadow: 0px 1px 0px rgba(0,0,0,.2);
}
.textbox {
	font-size:14px;
	color:#666;
	border:2px solid transparent;
	padding:3px;
	-webkit-box-shadow: 1px 1px 4px #999;
	-moz-box-shadow: 1px 1px 4px #999;
	box-shadow: 1px 1px 4px #999;
}
.textbox:focus{
	outline:none;
	border:2px solid #ccc;
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.1), inset 0 6px 10px rgba(0,0,0,0.2), 1px 1px 4px #999;
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.2), inset 0 6px 10px rgba(0,0,0,0.2), 1px 1px 4px #999;
	box-shadow:inset 0 2px 4px rgba(0,0,0,0.1), inset 0 6px 10px rgba(0,0,0,0.2), 1px 1px 4px #999;
}
.declined {
	font-size:14px;
	color:#666;
	border:2px solid #db5252;
	padding:3px;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,.2);
	box-shadow: 1px 1px 4px rgba(0,0,0,.2);
}
.accepted {
	font-size:14px;
	color:#666;
	border:2px solid #5fdb52;
	padding:3px;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,.2);
	box-shadow: 1px 1px 4px rgba(0,0,0,.2); 
}
.declined:focus, .accepted:focus {
	outline:none;
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.1), inset 0 6px 10px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.2), inset 0 6px 10px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,.2);
	box-shadow:inset 0 2px 4px rgba(0,0,0,0.1), inset 0 6px 10px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,.2);
}
#buttonbox {
	width:100%;
	margin:auto auto;
	padding:10px;
}
.button, .submit input {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 6px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border:0;
	background: #5a75f7;
	background: -webkit-gradient(linear, left top, left bottom, from(#5a75f7), to(#4c5daf));
	background: -moz-linear-gradient(top,  #5a75f7,  #4c5daf);
}
.button:hover, .submit input:hover {
	text-decoration: none;
}
.button:active, .submit input:active {
	position: relative;
	top: 1px;
	background: -webkit-gradient(linear, left top, left bottom, from(#4c5daf), to(#5a75f7));
	background: -moz-linear-gradient(top,  #4c5daf,  #5a75f7);
	background: #5a75f7;
}
.redbutton {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 6px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border:0;
	background: #dc4242;
	background: -webkit-gradient(linear, left top, left bottom, from(#dc4242), to(#db5252));
	background: -moz-linear-gradient(top,  #dc4242,  #db5252);
}
.redbutton:hover {
	text-decoration: none;
}
.redbutton:active {
	position: relative;
	top: 1px;
	background: -webkit-gradient(linear, left top, left bottom, from(#4c5daf), to(#5a75f7));
	background: -moz-linear-gradient(top,  #4c5daf,  #5a75f7);
	background: #5a75f7;
}
.boxheader{
	outline: none;
	text-decoration: none;
	font: 16px Arial, Helvetica, sans-serif;
	padding:6px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	color: #fef4e9;
	border:0;
	margin:0;
	background: #5a75f7;
	background: -webkit-gradient(linear, left top, left bottom, from(#5a75f7), to(#4c5daf));
	background: -moz-linear-gradient(top,  #5a75f7,  #4c5daf);
}
.requirements {
	background:#F0F0F0;
	font-size:12px;
	color:#dc4242;
	padding:5px;
	margin:5px;
	font-style:italic;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F0F0F0));	
}
.padding {
	padding:5px;
}
p {
	padding:5px;
	margin:0;
	font-size:12px;
}
.normbutton {
	padding:5px;	
}